<header class="container center-align">
  <div class="brand row">
  <a href="{{ site.baseurl }}/">
    <img src="{{ site.baseurl }}/imgs/icon_songhy-01.svg" alt="phuc loc logo">
    <h1>{{ site.title }}</h1>
  </a>
  <p>Chuyên nghiệp sản xuất từ 1994</p>
  </div> <!-- brand -->

<div class="row">
<div class="nav_big center-align hide-on-small-only grey lighten-4">

      <a class="waves-effect waves-light btn-large pink darken-3" href="#">GIỚI THIỆU</a>
      <a class="waves-effect waves-light btn-large pink darken-3" href="#">SẢN PHẨM</a>
      <a class="waves-effect waves-light btn-large pink darken-3" href="#">LIÊN HỆ</a>

</div>
<div class="nav_small center-align hide-on-med-and-up">

      <a class="waves-effect waves-red btn-large pink lighten-2 col s12" href="#">GIỚI THIỆU</a><br><br><br>
      <a class="waves-effect waves-red btn-large pink lighten-2 col s12" href="#">SẢN PHẨM</a><br><br><br>
      <a class="waves-effect waves-red btn-large pink lighten-2 col s12" href="#">LIÊN HỆ</a><br><br><br>

</div>
</div>

</header>