      <div id="intro-wrap" data-height="22.222">
        <div id="intro" class="preload lighten"> <!-- or darken -->        
          <div class="intro-item" style="background-image: url({{ site.baseurl }}imgs/wedding1.jpg);">
            <div class="caption">
              <h2>Thiệp cưới Phúc Lộc</h2>
              <p>chuyên nghiệp sản xuất thiệp cưới từ 1994</p>
            </div><!-- caption -->          
          </div>                
        </div><!-- intro -->
      </div><!-- intro-wrap -->