  <div id="main" class="row">

    <section class="row section call-to-action">
      <div class="row-content buffer even">
        <img class="logo" src="{{ site.baseurl }}imgs/icon_songhy-01.svg" alt="icon chu song hy" />
        <p>Phúc Lộc mới cập nhật mẫu bộ mẫu thiệp mới cho năm 2016.</p><br>
        <p class="button red">xin mời xem!</p>
      </div>
    </section>


    <div class="row-content buffer clear-after">
      <ul class="inline cats filter-options">
        <li data-group="advertising">Advertising</li>
        <li data-group="fun">Fun</li>
        <li data-group="icons">Icons</li>
        <li data-group="infographics">Infographics</li>
        <li data-group="lightbox">Lightbox</li>
        <li data-group="minimal">Minimal</li>
        <li data-group="web-design">Web design</li>
      </ul>
      <div class="grid-items portfolio-section preload">
        <article class="item column four" data-groups='["fun", "icons"]'>
          <figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""></figure>
          <a class="overlay" href="#">
            <div class="overlay-content">
              <div class="post-type"><i class="icon icon-picture"></i></div>
              <h2>Maison</h2>
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div><!-- overlay-content -->
          </a><!-- overlay -->
        </article>    
        <article class="item column four" data-groups='["lightbox", "minimal"]'>
          <figure><img src="http://placehold.it/600x800/ddd/fff&text=Beetle%20image" alt=""></figure>
          <a class="overlay" href="#">
            <div class="overlay-content">
              <div class="post-type"><i class="icon icon-video"></i></div>
              <h2>Essentials</h2>
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div><!-- overlay-content -->
          </a><!-- overlay -->
        </article>                      
        <article class="item column four" data-groups='["fun", "icons"]'>
          <figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""></figure>
          <a class="overlay" href="#">
            <div class="overlay-content">
              <div class="post-type"><i class="icon icon-picture"></i></div>
              <h2>To Resolve 2014</h2>
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div><!-- overlay-content -->
          </a><!-- overlay -->
        </article>
        <article class="item column four" data-groups='["web-design", "minimal"]'>
          <figure><img src="http://placehold.it/500x800/ddd/fff&text=Beetle%20image" alt=""></figure>
          <a class="overlay" href="#">
            <div class="overlay-content">
              <div class="post-type"><i class="icon icon-news"></i></div>
              <h2>Coffee</h2>
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div><!-- overlay-content -->
          </a><!-- overlay -->
        </article>  
        <article class="item column four" data-groups='["advertising", "lightbox", "web-design"]'>
          <figure><img src="http://placehold.it/500x750/ddd/fff&text=Beetle%20image" alt=""></figure>
          <a class="overlay" href="#">
            <div class="overlay-content">
              <div class="post-type"><i class="icon icon-video"></i></div>
              <h2>Telephone love</h2>
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div><!-- overlay-content -->
          </a><!-- overlay -->
        </article>                      
        <article class="item column four" data-groups='["infographics", "web-design"]'>
          <figure><img src="http://placehold.it/700x600/ddd/fff&text=Beetle%20image" alt=""></figure>
          <a class="overlay" href="#">
            <div class="overlay-content">
              <div class="post-type"><i class="icon icon-picture"></i></div>
              <h2>Magic triangle</h2>
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div><!-- overlay-content -->
          </a><!-- overlay -->
        </article>  
        <article class="item column four" data-groups='["advertising", "infographics"]'>
          <figure><img src="http://placehold.it/600x600/ddd/fff&text=Beetle%20image" alt=""></figure>
          <a class="overlay" href="#">
            <div class="overlay-content">
              <div class="post-type"><i class="icon icon-camera"></i></div>
              <h2>India</h2>
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div><!-- overlay-content -->
          </a><!-- overlay -->
        </article>                          
        <article class="item column four" data-groups='["fun", "icons"]'>
          <figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""></figure>
          <a class="overlay" href="#">
            <div class="overlay-content">
              <div class="post-type"><i class="icon icon-news"></i></div>
              <h2>Github Atom</h2>
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div><!-- overlay-content -->
          </a><!-- overlay -->
        </article>  
        <article class="item column four" data-groups='["advertising", "fun"]'>
          <figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""></figure>
          <a class="overlay" href="#">
            <div class="overlay-content">
              <div class="post-type"><i class="icon icon-speaker-on"></i></div>
              <h2>Love &amp; Mercy</h2>
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div><!-- overlay-content -->
          </a><!-- overlay -->
        </article>  
        <article class="item column four" data-groups='["fun", "infographics"]'>
          <figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""></figure>
          <a class="overlay" href="#">
            <div class="overlay-content">
              <div class="post-type"><i class="icon icon-news"></i></div>
              <h2>Creativity</h2>
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div><!-- overlay-content -->
          </a><!-- overlay -->
        </article>              
        <article class="item column four" data-groups='["icons"]'>
          <figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""></figure>
          <a class="overlay" href="#">
            <div class="overlay-content">
              <div class="post-type"><i class="icon icon-video"></i></div>
              <h2>Stamps</h2>
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div><!-- overlay-content -->
          </a><!-- overlay -->
        </article>    
        <article class="item column four" data-groups='["fun", "advertising"]'>
          <figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""></figure>
          <a class="overlay" href="#">
            <div class="overlay-content">
              <div class="post-type"><i class="icon icon-camera"></i></div>
              <h2>Portfolio</h2>
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div><!-- overlay-content -->
          </a><!-- overlay -->
        </article>                                
        <div class="shuffle-sizer four"></div>
      </div><!-- grid-items --> 
      <div id="pagination">
        <ul class="clear-after reset plain">
          <li id="older" class="pagination-nav"><a href="#" class="button transparent aqua"><i class="fa fa-chevron-left"></i><span class="label">Older</span></a></li> 
          <li id="newer" class="pagination-nav"><a href="#" class="button transparent aqua"><span class="label">Newer</span><i class="fa fa-chevron-right"></i></a></li>  
        </ul>
      </div>

    </div><!-- row-content -->
  </div><!-- row -->
</main><!-- main -->